<body>
<h1>CEng 445 Question and Answer System</h1>

Ask new question:
<form action="asknew" method="post">
<b>Title:</b> <input type="text" name="title" size=100/><br/>
<b>Tags:</b><input type="text" name="tags" size=50/> (comma seperated) <br/>
<b style="vertical-align: top">Text:</b>
<textarea name="qtext" rows="10" cols="60">
</textarea>
{% csrf_token %}
<input type="submit" value="Ask"/>
</form>

<ol>
{% for question in questions %}
<li> <a href="view/{{question.id}}">{{ question.qtitle }}</a> <b>{{ question.reply_set.count }}</b> replies
	<br/>
	 {% for tag in question.tag.all %}
	<span>{{tag.text}}</span>
	{% endfor %}
</li>
{% endfor %}
</ol>
</body>
